canvas#hero{
    /* filter: blur(2px); */
    width: 90dvw;
    height: 90dvh;
    position: fixed;
}

#hero h1{
    font-size: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.project{
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    padding: 2%;
    margin: 5%;
}

.project a{
    font-size: 2rem;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}

.project a:hover{
    background: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width:550px){
    div#hero{
        height: 100dvh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #hero h1{
        backdrop-filter: blur(2px);
    }
  }