:root{
  color-scheme: light dark;
  --main: #63a8ff;
  --lmain: #6bfff4;
--bg: #cecece;
--fg: #202028;

}



@media (prefers-color-scheme: dark) {
  :root{
  /* --main: #63a8ff;
  --lmain: #6bfff4; */
  --fg: #ababab;
  --bg: #202028;
  }
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Monaco', monospace;
  background: var(--bg);
}

.noselect {
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.display-none{
  display:none;
}
body a{
  transition: color 1.5s ease-out;
  text-decoration: underline;
  color: var(--main);
}
body a:hover{
  transition: color 0.5s ease-in;
  color: var(--lmain);
}

#nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin:0;
  border-bottom: solid 2px var(--fg)
}

#nav a{
  text-decoration: none;
  font-size: 150%;
  color: var(--lmain);
  margin: 5px;
  
}

footer{
  /* font-size: 12px; */
  margin-top: 2.5%;
  margin-bottom: 0;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 3px;
  padding-left: 1%;
  padding-right: 1%;
  border-top: 1px dashed var(--fg);
  width: 94%;
  /* position: fixed; */
  bottom: 0;
  left: 0;
}

footer ul{
  padding: 0px;
  margin-top:0;
  display: flex;
  justify-content: space-around;
}
footer li{
  list-style: none;
}

.project_source{
  font-size: 12px;
  color: var(--bgrey);
  width: 95%;
  border-top: 2px dashed var(--mgrey);
  border-bottom: 2px dashed var(--mgrey);
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 0.5%;
}


#title-container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-left: 75px; */
  width: 100%;
  height: 30%;
}

h1{
  color: var(--main);
  /* padding-left: 75px; */
  position: relative;
  text-align: center;
  font-weight: 750;
}


/*For windows with small width*/
@media only screen and (max-width:750px){
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.75rem;
  }
  h3{
    font-size: 1.5rem;
  }
  h4{
    font-size: 1.25rem;
  }
  h5{
    font-size: 1rem;
  }
}

