<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
<link rel="icon" href="{{site.baseurl}}/assets/img/favicon.ico">

<!--Scripts for animating the contact link-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{site.baseurl}}/assets/js/contact_animation.js"></script>

<title>
{% if page.title %}
{{ page.title_prefix }}{{ page.title }}
{% else %}
{{ site.title }}
{% endif %}
</title>