
.sidenav {
            height:100%;
            width:20%;
            position:fixed;
            z-index:1;
            top:0;
            left:0;
            background-color:#35363a;
            overflow-x:hidden;
            padding-top:20px;
        }
        .sidenav a {
            padding:6px 8px 6px 16px;
            text-decoration:none;
            color: #166464;
            font-size: 25px;
            display: block;
        }
        .sidenav a:hover{
            color:#6bfff4;
        }
        .main{
            margin-left:20%;
            padding: 0px 10px;
            background-color:#3d4043;
            color:#e1e1e1;
            min-height:100vh;

        }
        .main button{
            border-radius: 10px;
            background-color: #166464;
            border: none;
            color: white;
            padding: 5px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
        .main a {
            color: #166464;
        }

        .main h3 {
            color: #166464;
        }
        .main li{
            white-space:pre;
        }