<!DOCTYPE html>
<html>
	<head>
		<title>AAellen</title><!---page.title--->
		{% include head.html %}
	</head>
	<body>
		<aside>
		<ul class="asideList">
		<li><a href="/" class="asideItem">Home</a></li>
		<hr class="aside"></hr>

		{% for post in site.posts %}
		<li><a class="asideItem small" href="{{ post.url }}" >{{ post.title }}</a></li>
		<!---title="{{ post.title }}"--->
		{% endfor %}

		<hr class="aside" id="contact"></hr>
		<li><a href="/about" class="asideItem">About Me</a></li>
		</ul>
		<footer class="aside" id="contact">
			<h3>Contact</h3>
			<ul>
				<li><a href="mailto:aaellen01@gmail.com">Email</a></li>
				<li><a href="https://github.com/aaellen">GitHub</a></li>
			</ul>
		</footer>
		</aside>
		<section>
			<input type="checkbox" id="myInput">
			<label for="myInput">
				<span class="bar top"></span>
				<span class="bar middle"></span>
				<span class="bar bottom"></span>
			</label>

			<div class="content">
				<h1 class="title">{{ page.title }}</h1>
				{{ content }}
				<footer>Read more <a href="/about">about</a> me or <a href="#contact">contact</a> me</p></footer>
			</div>

		</section>
	</body>
</html>