<!DOCTYPE html>
<html>
	<head>
		{% include head.html js=page.js_includes %}

	</head>
	<body>
		<section>
			<input type="checkbox" id="checkbox-aside">
			<label for="checkbox-aside">
				<span class="bar top"></span>
				<span class="bar middle"></span>
				<span class="bar bottom"></span>
			</label>
			<div class="aside-container">
				<ul class="asideList">
				<li><a href="/" class="asideItem">Home</a></li>
				<li><a href="/projects" class="asideItem">Projects</a></li>
		
				<hr class="aside"></hr>
		
				{% for post in site.posts %}
				{%if page.url != post.url%}
				<li><a class="asideItem small" href="{{ post.url }}" >{{ post.title }}</a></li>
				{% endif %}
				{% endfor %}
		
				<hr class="aside"></hr>
				<li><a href="/about" class="asideItem">About Me</a></li>
				</ul>
				<div class="aside" id="contact">
					<h3>Contact</h3>
					<ul>
						<li><a href="mailto:aaellen01@gmail.com">Email</a></li>
						<li><a href="https://github.com/aaellen">GitHub</a></li>
					</ul>
				</div>
			</div>
			<div class="sliding-content">
				{% if page.title == "AAellen" %}
				<div id="title-container">
				<div id="title-background">
					<h1 class="title" id="home-title">{{ page.title }}</h1>
				</div>
				</div>
				{% else %}
				<h1 class="title">{{ page.title }}</h1>
				{% endif %}
				<div class="content">
				{{ content }}
				</div>
				{% include footer.html %}
			</div>

		</section>
	</body>
</html>
